<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">
      <img src="images/logo.png" alt="Wishly" class="brand-logo">
      <span class="brand-text">Wishly</span>
    </a>
    
    <button 
      class="navbar-toggler" 
      type="button" 
      (click)="toggleMenu()"
      [attr.aria-expanded]="isMenuOpen">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div 
      class="collapse navbar-collapse" 
      [class.show]="isMenuOpen">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a 
            class="nav-link" 
            routerLink="/dashboard" 
            routerLinkActive="active"
            (click)="isMenuOpen = false">
            <i class="fas fa-home me-1"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link" 
            routerLink="/listas" 
            routerLinkActive="active"
            (click)="isMenuOpen = false">
            <i class="fas fa-list me-1"></i>
            Minhas Listas
          </a>
        </li>
        <!-- Preparado para futuro login -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-user me-1"></i>
            Login
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>